<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Posts MAIN page</title>
</head>
<body>
    <h3>BLOG APP MAIN PAGE</h3>
    <h3>___________________________________________________________________________________________________________________________________</h3>

<div th:if = "${#lists.isEmpty(posts)}"> There are no posts to show(</div>
<div th:unless="${#lists.isEmpty(posts)}">
    <div th:each="post: ${posts}">
        <a th:href="@{/blog/post(postId=${post.postId})}" th:text="${post.postName}"></a>
        <h6 th:text="${post.postDate}"></h6>
        <div th:text="${post.postText}"></div>

    </div>
</div>

</body>
</html>